extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros img", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum porttitor eros. Praesent pellentesque odio et eros lacinia dapibus. Duis mollis congue nunc, et feugiat magna aliquam at. Etiam commodo facilisis risus eu tincidunt.

                p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas at urna ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                p Praesent vehicula vulputate erat, et pellentesque enim laoreet ut. Morbi a rutrum neque, quis egestas ante. Phasellus auctor ex quis interdum semper. Cras non dui nec purus interdum sollicitudin a sed magna. Maecenas ultrices ornare orci non feugiat. Quisque tristique pharetra lobortis. Nam dictum nulla magna, semper sollicitudin magna ullamcorper vel. In sapien lorem, aliquet id efficitur eget, laoreet nec arcu. Sed auctor, neque vel commodo consequat, ante ante pellentesque ipsum, eget eleifend mauris lorem eu nisl. Etiam congue nisi non commodo viverra. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de segurida", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p In sapien lorem, aliquet id efficitur eget, laoreet nec arcu. Sed auctor, neque vel commodo consequat, ante ante pellentesque ipsum, eget eleifend mauris lorem eu nisl.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p In sapien lorem, aliquet id efficitur eget, laoreet nec arcu. Sed auctor, neque vel commodo consequat, ante ante pellentesque ipsum, eget eleifend mauris lorem eu nisl.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p In sapien lorem, aliquet id efficitur eget, laoreet nec arcu. Sed auctor, neque vel commodo consequat, ante ante pellentesque ipsum, eget eleifend mauris lorem eu nisl.